.carrito-container {
  padding: 40px 80px;
  background: #fff;
}

.titulo-carrito {
  text-align: center;
  color: #ff4fa3;
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 800;
}

.carrito-vacio {
  text-align: center;
  color: #777;
}

.carrito-grid {
  display: grid;
  grid-template-columns: 1.2fr .4fr .4fr .4fr;
  row-gap: 25px;
}

.col-titulo {
  font-weight: 600;
  color: #555;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.center {
  text-align: center;
}

.carrito-item {
  display: contents;
}

/* Producto */
.producto-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.producto-img {
  width: 80px;
  border-radius: 10px;
}

.producto-nombre {
  font-weight: 600;
  color: #222;
  margin: 0;
}

.btn-eliminar {
  border: none;
  background: none;
  color: #999;
  font-size: 13px;
  cursor: pointer;
}

.btn-eliminar:hover {
  color: #ff4fa3;
}

.precio,
.subtotal {
  text-align: center;
  font-weight: 600;
}

/* Cantidad */
.cantidad-box {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.cantidad-box button {
  width: 26px;
  height: 26px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}

.cantidad-box button:hover {
  border-color: #ff4fa3;
}

/* Resumen */
.resumen {
  text-align: right;
  margin-top: 30px;
}

.subtotal-texto {
  color: #ff4fa3;
  font-weight: 900;
}

.btn-pagar {
  background: #ff4fa3;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
}

.btn-pagar:hover {
  opacity: .9;
}

.seguir {
  display: block;
  margin-top: 8px;
  color: #666;
}
