body {
  margin: 0;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 15px;
  margin-top: 40px;
}

.footer p {
  margin: 0;
  padding: 0 20px; /* solo el texto */
}
